.homepage-blue-background {
  background-color: #b9eff2;
  min-height: 250px;
  z-index: 2;
  margin-bottom: -240px;
  -moz-box-shadow: inset 0 0 4px rgb(86, 188, 194);
  -webkit-box-shadow: inset 0 0 4px rgb(86, 188, 194);
  box-shadow: inset 0 0 4px rgb(86, 188, 194);
}

.home-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 4px;
  text-align: right;
  margin-top: 16px;
  background: none;
  border: none;
}

.home-title-container {
  display: flex;
  flex-direction: column;
}

.home-title {
  font-size: 36px;
  margin-bottom: 16px;
  font-weight: bold;
  color: #00858d;
}

.home-subtitle {
  font-size: 14px;
  margin-right: 32px;
  color: #24292d;
}

.project-search-container {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin: 24px 180px;
  margin-bottom: 40px;
  background-color: #d7f8fa;
  padding: 4px;
  box-shadow: 0px 3px 1px 0px #00aebf;
  -webkit-box-shadow: 0px 3px 1px 0px #00aebf;
  -moz-box-shadow: 0px 3px 1px 0px #00aebf;
}

.search-input {
  display: flex;
  flex: 1;
  height: 40px;
  background-color: #d7f8fa;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 18px;
  text-align: right;
  border: none;
}

.search-input::placeholder {
  color: #6badaf;
}

.search-button {
  display: inline-block;
  width: 80px;
  background-color: #00aebf;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  border: none;
}

.home-body {
  display: flex;
  flex-direction: row;
}

.user-search {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.user-search-container {
  margin-bottom: 8px;
  background-color: white;
  border-radius: 4px;
  width: 240px;
  height: 50px;
}

.user-search-input {
  background: #f9f9f9;
  border: none;
  font-size: 12px;
  height: 30px;
  padding-right: 4px;
  margin: 3px;
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  padding: 10px;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.place-holder-red::placeholder {
  color: red;
  opacity: 0.6;
}